/* Styling untuk Pemilih Season & Episode */
#series-selector {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
    margin-top: 25px;
}

#series-selector h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: var(--light-color);
}

.season-list {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.se-button { /* se = season/episode */
    background-color: #333;
    color: #f4f4f4;
    border: 1px solid #555;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.2s, border-color 0.2s;
}

.se-button:hover {
    background-color: #444;
    border-color: #777;
}

.se-button.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    font-weight: bold;
}
